
/* Custom */
:root {

    /* Colors */
    --gold-color: hsl(38, 61%, 73%);
    --silver-color: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);

    /* Gradient Color */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /* Typography */
    --fontfamily-forum: 'Forum', cursive;
    --fontfamily-dm_sans: 'DM Sans', sans-serif;

    --fontsize-display-1: calc(1.3rem + 6vw);
    --fontsize-headline-1: calc(2rem + 2.5vw);
    --fontsize-headline-2: calc(1.3rem + 2.4vw);
    --fontsize-title-1: calc(1.6rem + 1.1vw);
    --fontsize-title-2: 2.2rem;
    --fontsize-title-3: 2.1rem;
    --fontsize-title-4: calc(1.6rem + 1.2vw);
    --fontsize-body-1: 2.4rem;
    --fontsize-body-2: 1.6rem;
    --fontsize-body-3: 1.8rem;
    --fontsize-body-4: 1.6rem;
    --fontsize-label-1: 1.4rem;
    --fontsize-label-2: 1.2rem;
    
    --weight-regular: 400;
    --weight-bold: 700;

    --lineheight-1: 1em;
    --lineheight-2: 1.2em;
    --lineheight-3: 1.5em;
    --lineheight-4: 1.6em;
    --lineheight-5: 1.85em;
    --lineheight-6: 1.4em;

    --letterspacing-1: 0.15em;
    --letterspacing-2: 0.4em;
    --letterspacing-3: 0.2em;
    --letterspacing-4: 0.3em;
    --letterspacing-5: 3px;

    --section-space: 70px;

    --shadow-1: 0px 0px 25px 0px hsla(0m 0%, 0%, 0.25);

    -radius: 24px;
    --radius-circle: 50%;

    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-1: 750ms ease;
}


/* RESET */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,
button,
select,
textarea{
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea{
    width: 100%;
    outline: none;
}

button { 
    cursor: pointer;
}

address {
    font-style: normal;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: var(--eerie-black-1);
    color: var(--white);
    font-family: var(--fontfamily-dm_sans);
    font-size: var(--fontsize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineheight-5);
    overflow: hidden;
    height: 300vh;
}

body.loaded {
    overflow: overlay;
}

body.nav-active{
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold-color);
}


/* TYPOGRAPHY */


/* PRELOAD */


/* TOPBAR */


/* HEADER */


/* HERO * /


/* SERVICE */


/* ABOUT */


/* SPECIAL WINE */


/* WINE MENU */


/* TESTIMONIALS */


/* WINE RESERVATION */


/* FEATURES */


/* EVENT */


/* FOOTER */


/* BACK TO TOP */


/* RESPONSIVE MEDIA */